body          {
  background-color: #303030;
}
#stage        { 
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);
  -moz-border-radius: 5px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.6);
  border-radius: 5px;  
}

h1, h2, h3, p, li { color: #EEEEEE; text-shadow: #000 2px 2px 4px }
a                 { color: #499DFF; text-decoration: none }
ul                { list-style-type: disc }
em                { color: #4BFF50 }
strong            { color: #FFAB49; font-weight: bold }