<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, user-scalable=no" />
    <title>Your presentation</title>
    <link rel="stylesheet" type="text/css" href="vendor/css/base.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="vendor/css/shAll.css" media="all"/>
    <script type="text/javascript" charset="utf-8" src="vendor/lib/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="vendor/lib/deps.js"></script>
    <script type="text/javascript" charset="utf-8" src="vendor/lib/shining.js"></script>
  </head>
  <body>
    <div id="stage">
    </div>
  </body>
</html>
